h2{
  text-align: center;
}


body{
  font-family:cursive;
  background-color: rgb(248, 246, 246);
}
.container {
    padding: 40px;
  background-color: rgb(208, 229, 240);

}


input[type=text]:focus, input[type=password]:focus,
input[type=number]:focus, input[type=email]:focus,
input[type=date]:focus
{
  background-color: rgb(230, 225, 217);
  outline: none;
}

.form-control {
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 20px;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  font-family: cursive;
  font-size: 14px;
  padding: 10px;
  width: 100% 
}
hr {border: 1.4px solid #382c2c;
    margin-bottom: 25px;}
    
.submitbtn {
  background-color: #36cf57;;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor:pointer;
  width: 100%;
  opacity: 1;
  border-radius: 10px;

}
.submitbtn:hover {
  opacity: 1;

}
 

